/.eDFDToGraphTransformation.java._trace
/eDFDToGraphTransformation.java
/.eDFDToEndToEndGraphTransformation.java._trace
/eDFDToEndToEndGraphTransformation.java
/.graphToEndToEndTransformation.java._trace
/graphToEndToEndTransformation.java
